@model IEnumerable<Vidlly.Models.Movie>

@{
    ViewBag.Title = "Index";
}

<h2>Movies</h2>

<p>@Html.ActionLink("New Movie", "New", "Movies", new { @class = "btn btn-primary" })</p>

<table id="Movie" class="table table-bordered">
    <thead>
        <tr>
            <td>Movie</td>
            <td>Genre</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@Html.ActionLink(movie.Name, "Edit", "Movies", new { id = movie.Id }, null)</td>
                <td>@movie.Genre.Name</td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
   $(document).ready(function(){
      $("#movie").datatable();
    });    
} 

